<div class="page-headers">
    <h1>Parties</h1>
    <%= button_to "ADD ORDER", new_party_path, class: "button-primary", :method => :get %>
</div>



  <% @parties.each do |party| %>

  <div class="flexbox">

    <div  style="line-height: 5;">
      <h5>Group #: <%= party.id %></h5>
      <h6>Table #: <%= party.table %></h6>
    </div>

    <div  style="line-height: 5;">
      <%= button_to "VIEW", party_path(party.id), :class => "button-primary", :method => :get %>
    </div>

    <div  style="line-height: 5;">
      <%= button_to "DELETE", party, :method => :delete %>
    </div>
  </div>
  <hr class="divider">
  <% end %>
