<h1 id="section-to-print">Party #: <%= @party.id %></h1>
<hr>
<div class="rows">
  <div class="seven columns">
    <h5>Number of People: <%= @party.quantity %></h5>
  </div>
  <div class="five columns">
    <h5>Table Number: <%= @party.table %></h5>
  </div>
</div>
<div class="rows">
  <h5>Food Orders:</h5>

  <table class="u-full-width" id="section-to-print">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th id="section-not-to-print">Order Complete?</th>
        <!-- <th></th> -->
      </tr>
    </thead>
    <tbody>
      <% @party.orders.each do |order| %>
        <tr>
          <td><%=order.food.name%></td>
          <td>$<%=order.food.price%></td>
          <td>
            <% if order.is_completed == true %>
              <%= "Yes" %>
            <% else %>
              <%= "No" %>
            <% end %>
          </td>
          <!-- <td>
            <%= form_tag order_path(order.id), method: "put" do %>
              <%= hidden_field_tag :party_id, @party.id %>
              <%= hidden_field_tag :is_completed, true %>
              <%= submit_tag 'Mark as Complete'%>
            <% end %>
          </td> -->
        </tr>
      <% end %>
      <tr class="">
        <td class=""><h5>Tip:</h5></td>
        <td class="">
          15%: <span class="tip-one"></span></br>
          20%: <span class="tip-two"></span></br>
          25%: <span class="tip-three"></span>
        </td>
        <td id="section-not-to-print" class=""></td>
      </tr>
        <tr class="bold">
          <td class="last"><h5>Total: </h5></td>
          <td class="last"><h5>$<%= @total %></h5></td>
          <td id="section-not-to-print" class="last"></td>
        </tr>
    </tbody>
  </table>

  <div class="rows center">
      <button class="button-primary" type="button" onclick="window.print();return false;" name="button">Print Receipt</button>
  </div>

  <script>
     $(document).ready(function(){
       $(".tip-one").text((<%= @total %> * .15).toFixed(2));
       $(".tip-two").text((<%= @total %> * .20).toFixed(2));
       $(".tip-three").text((<%= @total %> * .25).toFixed(2));
     });
  </script>
