<h1>Party #: <%= @party.id %></h1>
<hr>
<div class="rows">
  <div class="seven columns">
    <h5>Number of People: <%= @party.quantity %></h5>
  </div>
  <div class="five columns">
    <h5>Table Number: <%= @party.table %></h5>
  </div>
</div>
<div class="rows">
  <h5>Food Orders:</h5>
  <% @party.foods.each do |food| %>
  <%= food.name %>
  <%= food.price %>
  </br>
  <% end %>
</div>
<div class="rows">
TOTAL: <%= @total %>
</div>
