<h1>Add Order</h1>
<hr>
<%= form_for @order do |f| %>
  <%= f.label :is_completed %>
  <%= f.select :is_completed, [['Yes', true], ['No', false]]  %>
  <br>
  <%= f.label :user_id %>
  <%= f.select( :user_id, options_for_select(@users.map {|user| [user.name, user.id ]}) ) %>
  <br>
  <%= f.label :party_id %>
  <%= f.select( :party_id, options_for_select(@parties.map {|party| [party.quantity, party.id ]}) ) %>
  <br>
  <%= f.label :food_id %>
  <%= f.select( :food_id, options_for_select( @foods.map{ |food| [food.name, food.id ]}) ) %>
  <br>
  <%= f.submit %>
<% end %>
