<h1>Add Party</h1>
<hr>
<%= form_for @party do |f| %>
  <%= f.label "Number of People" %>
  <%= f.number_field :quantity %>

  <%= f.label :table %>
  <%= f.number_field :table %></br>

  <%= f.submit %>
<% end %>
