<% if @user.username == "admin" %>

  <div class="rows">
    <div class="nine columns">
      <h3>Welcome Back <%= @user.name %></h3>
    </div>
  </div>

  <div class="rows center">

    <%= link_to foods_path do %>
      <div class="box-selector menu-button">
        Menu
      </div>
    <% end %>

    <%= link_to new_party_path do %>
      <div class="box-selector order">
        Start a New Order
      </div>
    <% end %>
    <%= link_to deletion_station_path, method: :delete do %>
      <div class="box-selector logout">
        Logout
      </div>
    <% end %>
    <!-- <div class="box-selector party">
      PARTIES

    </div> -->
</div>


<% else %>

  <div class="rows">
    <div class="nine columns">
      <h3>Welcome Back <%= @user.name %></h3>
    </div>
  </div>

  <div class="rows center">
    <%= link_to new_party_path do %>
      <div class="box-selector order">
        Start a New Order
      </div>
    <% end %>
    <%= link_to parties_path do %>
      <div class="box-selector party">
        View Parties
      </div>
    <% end %>
    <%= link_to deletion_station_path, method: :delete do %>
      <div class="box-selector logout">
        Logout
      </div>
    <% end %>
  </div>

<% end %>
