<% if @user.username == "admin" %>

  <div class="flexbox">
      <div>
        <h3>Welcome Back <%= @user.name %></h3>
      </div>
      <div>
      <%= button_to "LOGOUT", deletion_station_path, class: "button-primary", :method => :delete %>
      </div>
  </div>

  <div class="center">

    <%= link_to foods_path do %>
      <div class="box-selector menu-button">
        View/Edit Menu
      </div>
    <% end %>

    <%= link_to new_party_path do %>
      <div class="box-selector order">
        Start a New Order
      </div>
    <% end %>

    <%= link_to orders_path do %>
      <div class="box-selector kitchen">
        Kitchen Orders
      </div>
    <% end %>

    <!-- <div class="box-selector party">
      PARTIES

    </div> -->
</div>


<% else %>

<div class="flexbox">
    <div>
      <h3>Welcome Back <%= @user.name %></h3>
    </div>
    <div>
    <%= button_to "LOGOUT", deletion_station_path, class: "button-primary", :method => :delete %>
    </div>
</div>

  <div class="rows center">
    <%= link_to new_party_path do %>
      <div class="box-selector order">
        Start a New Order
      </div>
    <% end %>
    <%= link_to orders_path do %>
      <div class="box-selector kitchen">
        Kitchen Orders
      </div>
    <% end %>
    <%= link_to parties_path do %>
      <div class="box-selector party">
        View Parties
      </div>
    <% end %>
  </div>

<% end %>
