<!DOCTYPE html>
<html>
<head>
  <title>RestaurantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Josefin+Slab:400,300' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

  <nav>
    <div class="logo">
      troppo
    </div>
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <div class="overlay-content">
        <%= link_to "HOME", profile_path, :class => "margin-bottom-link" %>
        <%= link_to "PARTIES", parties_path %>
        <ul class="sub-nav">
          <li><%= link_to "Add Party", new_party_path %></li>
        </ul>
        <%= link_to "CREATE ORDER", orders_path, :class => "margin-bottom-link" %>
        <!-- <ul class="sub-nav">
          <li><%= link_to "Create a new order", new_order_path %></li>
        </ul> -->

        <%= link_to "LOGOUT", deletion_station_path, method: :delete %>

        </ul>
      </div>
    </div>
    <div class="nav-x" onclick="openNav()">
      <span style="font-size:30px;cursor:pointer">☰</span>
    </div>

  </nav>

  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
