<!DOCTYPE html>
<html>
<head>
  <title>RestaurantApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Josefin+Slab:400,300' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style media="screen">
    html {
      height: 100%;
    }
  </style>

</head>
<body>
  <div class="wrapper">
    <div class="overlay-box">
      <%= yield %>
    </div>
  </div>



</body>
</html>
